* {
  width: auto;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-decoration: none;
  color: black;
}

body {
  background-color: rgb(227, 222, 216);
}

.navigation {
  background-color: rgb(227, 222, 216);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  height: 50px;
  position: sticky;
  top: 0;
  padding: 15px 0 10px 0;
  z-index: +1;
}

.menu {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  justify-content: center;
  font-weight: bold;
  font-size: 13pt;
}

.wrapper {
  background-color: black;
  border: none;
  width: 100%;
  max-width: 1536px;
  margin-inline: auto;
  position: relative;
  height: 60px;
  margin-top: 78px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}

@keyframes scrollleft {
  to {
    left: -200px;
  }
}

.item {
  width: 300px;
  height: 60px;
  border-radius: 6px;
  position: absolute;
  left: max(calc(200px * 6), 100%);
  animation-name: scrollleft;
  animation-duration: 30s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.item1 {
  animation-delay: calc(30s / 6 * (6 - 1) * -1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.item2 {
  animation-delay: calc(30s / 6 * (6 - 2) * -1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.item3 {
  animation-delay: calc(30s / 6 * (6 - 3) * -1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.item4 {
  animation-delay: calc(30s / 6 * (6 - 4) * -1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.item5 {
  animation-delay: calc(30s / 6 * (6 - 5) * -1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.item6 {
  animation-delay: calc(30s / 6 * (6 - 6) * -1);
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.btn-ylw {
  width: 100px;
  background-color: rgb(236, 214, 71);
  text-decoration: none;
  text-align: center;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  padding: 10px 15px 10px 15px;
  color: black;
  font-size: 14pt;
  box-shadow: rgb(120, 120, 120) 0px 3px 5px;
}

.home .btn-ylw {
  position: relative;
  top: 30px;
  padding: 10px 50px 10px 50px;
}

.btn-ylw:hover {
  background-color: rgb(227, 222, 216);
  border: solid black;
  color: black;
  text-shadow: rgb(236, 214, 71) 0px 5px 5px;
}

.btn-home:hover {
  color: rgb(236, 214, 71);
  text-decoration: underline;
  font-size: 14pt;
  text-underline-offset: 1rem;
}

.btn-skill:hover {
  color: rgb(236, 214, 71);
  text-decoration: underline;
  font-size: 14pt;
  text-underline-offset: 1rem;
}

.btn-exp:hover {
  color: rgb(236, 214, 71);
  text-decoration: underline;
  font-size: 14pt;
  text-underline-offset: 1rem;
}

.btn-ab:hover {
  color: rgb(236, 214, 71);
  text-decoration: underline;
  font-size: 14pt;
  text-underline-offset: 1rem;
}

.container1 {
  background-color: rgb(227, 222, 216);
  height: 700px;
}

.container2 {
  background-color: rgb(203, 202, 201);
  height: 700px;
}

.container3 {
  background-color: rgb(227, 222, 216);
  height: 950px;
}

.container4 {
  background-color: rgb(255, 255, 255);
  height: 300px;
  position: relative;
  top: 300px;
}

.container5 {
  background-color: rgb(203, 202, 201);
  height: 700px;
}

@keyframes appear1 {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

@keyframes appear2 {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.home {
  display: flex;
  flex-direction: row;
  padding: 60px 170px 0px 170px;
  gap: 0;
}

.hero {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0;
  display: flex;
  flex-direction: row;
}

span {
  font-size: 70pt;
  text-shadow: rgb(128, 128, 128) 0px 5px 5px;
  cursor: pointer;
}

.hero-left {
  display: flex;
  flex-direction: column;
}

.profile {
  background-color: rgb(236, 214, 71);
  width: 480px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: rgb(120, 120, 120) 7px 7px 9px;
}

.profile:hover {
  -webkit-filter: opacity(80%);
}

.skill {
  display: flex;
  flex-direction: column;
  padding: 100px 170px 0px 170px;
  text-align: center;
}

.con-skill {
  margin: 80px 100px 0 100px;
  border: none;
  display: grid;
  grid-template-rows: repeat(2, 100px);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.icon {
  width: 50px;
  height: 50px;
}

.box-skill {
  animation: appear1 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  font-size: 14pt;
  gap: 25px;
  background-color: rgb(227, 222, 216);
  border-radius: 10px;
  padding: 25px 20px 20px 20px;
  cursor: pointer;
}

.box-skill:hover {
  background-color: rgb(201, 194, 181);
  -webkit-filter: opacity(80%);
}

.box-btn {
  grid-area: 3/3/3/2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 14pt;
  background-color: none;
  gap: 25px;
  border-radius: 10px;
  padding: 25px 20px 20px 20px;
}

.text-judul {
  position: relative;
  top: 15px;
  font-weight: bold;
}

.text-about {
  position: relative;
  top: -100px;
  font-weight: bold;
}

.subtext {
  padding: 30px 0px 15px 0px;
  font-size: 12pt;
}

.subtext1 {
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  position: relative;
  top: -100px;
  padding: 30px 50px 60px 50px;
  margin: 0px 40px -40px 40px;
  font-size: 12pt;
}

.experience {
  display: flex;
  flex-direction: column;
  padding: 60px 170px 0px 170px;
  text-align: center;
}

.con-ex {
  margin: 80px 100px 0 100px;
  border: none;
  display: grid;
  grid-template-rows: repeat(2, 300px);
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  cursor: pointer;
}

.box-ex {
  animation: appear1 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  font-size: 14pt;
  gap: 25px;
  border: solid black;
  border-radius: 10px;
  padding: 25px 20px 20px 20px;
}

.box-ex:hover {
  background-color: rgb(201, 194, 181);
}

.about-me {
  display: flex;
  flex-direction: column;
  padding: 60px 170px 40px 170px;
  text-align: center;
}

.con-ab {
  margin: 80px 100px -160px 100px;
  border: none;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-rows: repeat(1, 300px);
  grid-template-columns: repeat(1, 900px);
  gap: 30px;
  cursor: pointer;
}

.box-ab {
  animation: appear1 linear;
  animation-timeline: view();
  animation-range: entry 0% cover 30%;
  background-color: rgb(234, 233, 232);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-size: 14pt;
  gap: 25px;
  border: none;
  border-radius: 10px;
  padding: 25px 20px 20px 20px;
}

.me {
  position: relative;
  top: -80px;
  width: 100px;
  height: 100px;
}

.footer {
  text-align: center;
}

.con-foot {
  padding: 90px 100px 90px 100px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.footer-text {
  text-align: center;
}

h1 {
  cursor: pointer;
}

h2 {
  font-size: 24pt;
  text-shadow: rgb(236, 214, 71) 0px 6px 5px;
}

h5 {
  font-size: 12pt;
}
